<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Simple Sideber - Login</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>

<div layout:fragment="content">
    <br>
    <h1 class="title">User Info</h1>
    <hr>
<!--    <p>ID: <span th:text="${auth.uid}"></span></p>-->
    <div class="input-group mb-3">
        <span class="input-group-text">아이디</span>
        <input type="text" th:value="${auth.id}" name="id" class="form-control" readonly>
    </div>

<!--    <p>Password: <span th:text="${auth.password}"></span></p>-->
    <div class="input-group mb-3">
        <span class="input-group-text">패스워드</span>
        <input type="password" th:value="${auth.password}" name="password" class="form-control" readonly>
    </div>

<!--    <p>Nickname: <span th:text="${auth.nickName}"></span></p>-->
    <div class="input-group mb-3">
        <span class="input-group-text">닉네임</span>
        <input type="text" th:value="${auth.nickName}" name="nickName" class="form-control" readonly>
    </div>

<!--    <p>Email: <span th:text="${auth.email}"></span></p>-->
    <div class="input-group mb-3">
        <span class="input-group-text">이메일</span>
        <input type="email" th:value="${auth.email}" name="email" class="form-control" readonly>
    </div>

    <a th:href="|@{/auth/modify}|" class="text-decoration-none">
        <input type="button" value="회원정보 수정" class="btn btn-primary">
    </a>
</div>

</html>
