<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <title>Join Page</title>
</head>

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    JOIN
                </div>
                <div class="card-body">
                    <form id="registerForm" action="/auth/join" method="post">
                        <div class="input-group mb-3">
                            <span class="input-group-text">ID</span>
                            <input type="text" name="id" class="form-control">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">PW</span>
                            <input type="password" name="password" class="form-control">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">NICKNAME</span>
                            <input type="text" name="nickName" class="form-control">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">EMAIL</span>
                            <input type="email" name="email" class="form-control">
                        </div>
                        <div class="my-4">
                            <div class="float-end">
                                <button type="submit" class="btn btn-primary submitBtn">Submit</button>
                                <button type="reset" class="btn btn-secondary">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">

    const error = [[${error}]]

    if(error && error === 'id') {
        alert("동일한 ID를 가진 계정이 존재합니다.")
    }

    if(error && error === 'nickName') {
        alert("동일한 NICKNAME를 가진 계정이 존재합니다.")
    }

    if(error && error === 'email') {
        alert("동일한 EMAIL를 가진 계정이 존재합니다.")
    }

</script>

</html>