<!DOCTYPE html>

<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/basic.html}">
<style>
    body {
        background-color: #F5F0EA;
    }
    .search{
        width: 100%;
    }
    .date{
        margin: 0 auto;
        width: 100%;
    }
</style>
<div layout:fragment="content">
    <div class="search">
        <!--    검색 화면 추가 -->
        <div class="row mt-3 mx-auto p-2 vstack gap-3" style="width: 50%; margin: 50px">
            <form action="/post/list" method="get">
                <div class="col">
                    <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <select class="form-select" name="type">
                                <option value="c" th:selected="${pageRequestDTO.type =='c'}">내용</option>
                                <option value="w" th:selected="${pageRequestDTO.type =='n'}">작성자</option>
                                <option value="tcw" th:selected="${pageRequestDTO.type =='cn'}">내용+작성자</option>
                            </select>
                        </div>
                        <input type="text" class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}" placeholder="검색">
                        <div class="input-group-append">
                            <button class="btn btn-outline searchBtn" type="submit" style="background-color: #ccbfb2">검색</button>
                            <button class="btn btn-outline-secondary clearBtn" type="button">초기화</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Floating Button -->
    <button type="button" class="btn btn-primary btn-lg rounded-circle floating-btn"
            style="position: fixed; bottom: 20px; right:5%; background: #CCBFB2; border: none"
            onclick="window.location='/post/register'">
        +
    </button>

    <!--여기에 모달을 집어넣는 것임!-->
    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">게시글 등록 성공</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>[[${result}]]번 게시글이 성공적으로 등록되었습니다.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>  <!-- search div end -->

    <div id="list">
        <div class="card mx-auto p-2 vstack gap-3" style="width: 50%; margin: 50px"
             th:each="dto:${responseDTO.postLists}">
            <div class="card-header" th:with="link = ${pageRequestDTO.getLink()}">
                <img th:src="@{/assets/Profile.png}" class="profile" id="profileImage" style="width: 30px; height: auto">
                <div class="card-title" style="display:inline; font-weight: bold">[[${#authentication.principal.nickName}]]</div>
                <div class="dropdown" style="float: right; margin-top: 3px; display: inline" >
                    <a id="modifyDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg width="5" height="20" viewBox="0 0 10 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="5" cy="5" r="5" fill="black"/>
                            <circle cx="5" cy="22" r="5" fill="black"/>
                            <circle cx="5" cy="40" r="5" fill="black"/>
                        </svg>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" id="mypage" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/post/modify?${link}">수정하기</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/post/remove">삭제하기</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="input-group mb-3">
                    <input type="hidden" class="form-control" th:value="${dto.pid}" readonly>
                </div>
                <div class="input-group mb-3 " style="display: block; text-align: center; cursor: pointer" th:onclick="|location.href='@{/post/read(pid=${dto.pid})}&page=1&size=10'|">
                    <div class="body-content" style="text-align: left">[[${dto.content}]]</div>
                    <div th:if="${dto.thumbnail != null}">
                        <img th:src="@{/images/{thumbnail}(thumbnail=${dto.thumbnail})}" width="40">
                    </div>
                </div>
            </div> <!-- card body end -->
            <div style="margin: 0 auto; width: 95%">
                <hr>
                <p class="hstack gap-3 date">
                    <span> [[${#temporals.format(dto.regDate, 'yyyy-MM-dd')}]] 작성</span>
                    <span>/</span>
                    <span>
                    <span th:if="${dto.modDate == null}">-</span>
                    <span th:unless="${dto.modDate == null}">[[${#temporals.format(dto.modDate, 'yyyy-MM-dd')}]]</span>
                    &nbsp; 수정
                </span>
                    <span class="p-2 ms-auto">
                    <img th:src="@{/assets/Favorite.png}" style="width: 30px; height: 30px">
                    <span>[[${dto.likeCount}]]</span>

                    <img th:src="@{/assets/Comment.png}" style="width: 30px; height: 30px">
                    <span class="progress-bar-success" style="color: black">
                        [[${dto.commentCount}]]
                    </span>
                    <img th:src="@{/assets/Bookmark.png}" href="#" style="width: 30px; height: 30px">
                </span>
                </p>
            </div>
        </div>  <!-- card end -->
    </div>
</div> <!--<div layout:fragment="content" end>-->

<script src="/js/ajax.js.js"></script>
<script layout:fragment="script" th:inline="javascript">

    //이벤트 처리
    const contentBox = document.querySelector('#list');

    const cri = ContentCriteria;
    showList(cri);

    if(window.innerHeight >= document.body.offsetHeight){
        cri.page++;
        showList(cri);
    }

    /* Scroll Down -> Board List Request */
    window.addEventListener('scroll', () => {
        let val = window.innerHeight + window.scrollY;

        if(val >= document.body.offsetHeight){
            cri.page++;
            showList(cri);
        }
    });

    function showList(cri){

        const result = contentModule.getMyContents(cri);

        result.forEach((dto, idx) => {
            console.log(dto);

            let html = ``;
            html = `<div class="card mx-auto p-2 vstack gap-3" style="width: 50%; margin: 50px"
             th:each="dto:${responseDTO.postLists}">
            <div class="card-header" th:with="link = ${pageRequestDTO.getLink()}">
                <img th:src="@{/assets/Profile.png}" class="profile" id="profileImage" style="width: 30px; height: auto">
                <div class="card-title" style="display:inline; font-weight: bold">[[${#authentication.principal.nickName}]]</div>
                <div class="dropdown" style="float: right; margin-top: 3px; display: inline" >
                    <a id="modifyDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg width="5" height="20" viewBox="0 0 10 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="5" cy="5" r="5" fill="black"/>
                            <circle cx="5" cy="22" r="5" fill="black"/>
                            <circle cx="5" cy="40" r="5" fill="black"/>
                        </svg>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" id="mypage" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/post/modify?${link}">수정하기</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/post/remove">삭제하기</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="input-group mb-3">
                    <input type="hidden" class="form-control" th:value="${dto.pid}" readonly>
                </div>
                <div class="input-group mb-3 " style="display: block; text-align: center; cursor: pointer" th:onclick="|location.href='@{/post/read(pid=${dto.pid})}&page=1&size=10'|">
                    <div class="body-content" style="text-align: left">[[${dto.content}]]</div>
                    <div th:if="${dto.thumbnail != null}">
                        <img th:src="@{/images/{thumbnail}(thumbnail=${dto.thumbnail})}" width="40">
                    </div>
                </div>
            </div> <!-- card body end -->
            <div style="margin: 0 auto; width: 95%">
                <hr>
                <p class="hstack gap-3 date">
                    <span> [[${#temporals.format(dto.regDate, 'yyyy-MM-dd')}]] 작성</span>
                    <span>/</span>
                    <span>
                        <span th:if="${dto.modDate == null}">-</span>
                        <span th:unless="${dto.modDate == null}">[[${#temporals.format(dto.modDate, 'yyyy-MM-dd')}]]</span>
                        &nbsp; 수정
                    </span>
                    <span class="p-2 ms-auto">
                        <img th:src="@{/assets/Favorite.png}" style="width: 30px; height: 30px">
                        <span>[[${dto.likeCount}]]</span>

                        <img th:src="@{/assets/Comment.png}" style="width: 30px; height: 30px">
                        <span class="progress-bar-success" style="color: black">
                            [[${dto.commentCount}]]
                        </span>
                        <img th:src="@{/assets/Bookmark.png}" href="#" style="width: 30px; height: 30px">
                    </span>
                </p>
            </div>
        </div>  <!-- card end -->`;

            contentBox.insertAdjacentHTML('beforeend', html);
        });
    }

    // Show modal if result exists
    const result = [[${result}]];
    if (result) {
        const modal = new bootstrap.Modal(document.querySelector('.modal'));
        modal.show();
    }

    document.querySelector('.clearBtn').addEventListener('click', function (e){
        e.preventDefault();
        e.stopPropagation();
        self.location = '/post/list';
    }, false);

</script>

</html>