<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}">
<style>
    body {
        background-color: #F5F0EA;
    }
    form{
        position: relative;
    }
    .my-4{
        position: absolute;
        bottom: 0;
        right: 0;
    }

</style>
<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <form th:action="@{/post/modify}" method="post" id="f1" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-header" style="display: inline">
                        <input type="hidden" name = "nickname" th:value="${#authentication.principal.nickName}" readonly />                        <img th:src="@{/assets/Profile.png}" class="profile" id="profileImage" style="width: 30px; height: auto; margin-bottom: 10px">
                        <span class="card-title name" style="font-size: 30px; margin-left: 10px">[[${#authentication.principal.nickName}]]</span>
                        <hr>
                    </div>
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <div class="input-group mb-3">
                                <textarea class="col-sm-5" rows="20" style="width: 100%; resize: none; border: none" name="content">[[${dto.content}]]</textarea>
                            </div>
                        </div>
                    </div><!-- cardbody end-->
                </div> <!--end card-->
                <br>
                <div class="insert input-group mb-3" style="margin: 0 auto; width: 50%">
                    <div th:if="${dto.thumbnail != null}">
                        <span style="width: 20%; display: inline">첨부된 사진</span>
                        <img th:src="@{/images/{thumbnail}(thumbnail=${dto.thumbnail})}" alt="Thumbnail" width="40">
                        <button type="button" class="btn btn-danger removeImageBtn">X</button>
                    </div>
                    <div th:unless="${dto.thumbnail != null}">
                        <span style="margin-top: 7px; margin-right: 10px">사진 등록하기</span>
                        <input type="file" name="file" class="form-control">
                    </div>
                </div>
                <div class="insert my-4" style="margin: 0 auto; width: 50%">
                    <div class="float-end">
                        <button type="button" class="btn listBtn" style="background: #ffffff; color: #000000; width: 100px;">취소</button>
                        <button type="button" class="btn modBtn" style="background: #ccbfb2; color: #000000; width: 100px;">수정하기</button>
                        <button type="button" class="btn btn-danger removeBtn">삭제하기</button>
                    </div>
                </div>
            </form>
        </div><!--end col-->
    </div><!--end row-->
</div><!--content end-->

<script layout:fragment="script" th:inline="javascript">

    const errors = [[${errors}]]
    console.log(errors);

    let errorMsg = '';
    if(errors){
        for(let i = 0;i<errors.length;i++){
            errorMsg+=`${errors[i].field}으(는) ${errors[i].code}\n`
        }
        history.replaceState({},null,null)
        alert(errorMsg)
    }
    const link =[[${pageRequestDTO.getLink()}]]
    const formObj = document.querySelector("#f1")


    document.querySelector(".modBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        //검색과 관련된 page 번호, 키워드와 title이 있다.
        formObj.action = `/post/modify?${link}`
        formObj.method = "post"
        formObj.submit();
    },false)

    document.querySelector(".listBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        formObj.reset()
        self.location = `/post/list?${link}`
    },false)

    document.querySelector(".removeBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        formObj.action = `/post/remove`
        formObj.method = "post"
        formObj.submit();
    },false)

    document.querySelector(".removeImageBtn")?.addEventListener("click", function (e){
        e.preventDefault();
        e.stopPropagation();

        const inputFile = document.querySelector("input[name='file']");
        inputFile.value = "";

        const imageElement = document.querySelector(".input-group img");
        imageElement.parentElement.remove();
    },false);

</script>

</html>
