<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}">
<style>
    .name{
        font-weight: bold;
    }
    .float-end{
        margin: 0 auto;
        width: 50%;
    }

</style>
<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <form th:action="@{/post/modify}" method="post" id="f1" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-header">
                        <div class="input-group mb-3">
                            <div class="name">[[${#authentication.principal.nickName}]] </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <div class="input-group mb-3">
                                <textarea class="col-sm-5" rows="20" style="width: 100%; resize: none; border: none" name="content">[[${dto.content}]]</textarea>
                            </div>
                        </div>

                        <div th:if="${dto.thumbnail != null}">
                                <span class="input-group-text" style="width: 20%; display: inline">첨부된 사진</span>
                                <img th:src="@{/images/{thumbnail}(thumbnail=${dto.thumbnail})}" alt="Thumbnail" width="40">
                                <button type="button" class="btn btn-danger removeImageBtn">X</button>
                        </div>
                        <div th:unless="${dto.thumbnail != null}">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Image</span>
                                <input type="file" class="form-control" name="file">
                            </div>
                        </div>
                    </div><!-- cardbody end-->
                </div> <!--end card-->
                <div class="my-4">
                    <div class="float-end"  th:with="link = ${pageRequestDTO.getLink()}" style="margin: 0 auto; width: 37%">
                        <button type="button" class="btn btn-primary listBtn">List</button>
                        <button type="button" class="btn btn-secondary modBtn">Modify</button>
                        <button type="button" class="btn btn-danger removeBtn">Remove</button>
                    </div>
                </div>
            </form>
        </div><!--end col-->
    </div><!--end row-->
</div><!--content end-->

<script layout:fragment="script" th:inline="javascript">

    const errors = [[${errors}]]
    console.log(errors);

    let errorMsg = '';
    if(errors){
        for(let i = 0;i<errors.length;i++){
            errorMsg+=`${errors[i].field}으(는) ${errors[i].code}\n`
        }
        history.replaceState({},null,null)
        alert(errorMsg)
    }
    const link =[[${pageRequestDTO.getLink()}]]
    const formObj = document.querySelector("#f1")


    document.querySelector(".modBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        //검색과 관련된 page 번호, 키워드와 title이 있다.
        formObj.action = `/post/modify?${link}`
        formObj.method = "post"
        formObj.submit();
    },false)

    document.querySelector(".listBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        formObj.reset()
        self.location = `/post/list?${link}`
    },false)

    document.querySelector(".removeBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        formObj.action = `/post/remove`
        formObj.method = "post"
        formObj.submit();
    },false)

    document.querySelector(".removeImageBtn")?.addEventListener("click", function (e){
        e.preventDefault();
        e.stopPropagation();

        const inputFile = document.querySelector("input[name='file']");
        inputFile.value = "";

        const imageElement = document.querySelector(".input-group img");
        imageElement.parentElement.remove();
    },false);

    const imgInsert = document.querySelector('.img-insert')

    function insertButton(){
        let thumbnail= [[${dto.thumbnail}]];

        if (thumbnail != null){
            imgInsert.innerHTML = `<div class="input-group mb-3 " th:if="${dto.thumbnail}">
                                <span class="input-group-text">첨부된 사진</span>
                                <img th:src="@{/images/{thumbnail}(thumbnail=${dto.thumbnail})}" alt="Thumbnail" width="50">
                                <button type="button" class="btn btn-danger removeImageBtn">X</button>
                            </div>`;
        } else {
            imgInsert.innerHTML = `<span class="input-group-text ">Image</span>
                            <input type="file" class="form-control " name="file">`
        }
    }

</script>

</html>