<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout/basic.html}">

<head>
    <title>Board Read</title>
    <style>
        body {
            background-color: #F5F0EA;
        }
        .name{
            font-weight: bold;
        }
        .modify-button{
            margin: 0 auto;
            width: 50%;
        }
        .img-fluid{
            max-width: 50%;
            height: auto;
        }
        .body-content{
            width: 50%;
            text-align: left;
            margin-bottom: 30px;
        }
        .input-group-comment{
            margin: 0 auto;
            width: 50%;
            position: relative;
            display: flex;
        }
        .commentContent{
            height: 100px;
            width: 100%;
        }
        .addCommentBtn{
            background-color: #ccbfb2;
            position: absolute;
            top: 40px;
            bottom: 15px;
            right: 10px;
        }
        .commentList{
            margin: 0 auto;
            width: 50%;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header" style="display: inline">
                    <img th:src="@{/assets/Profile.png}" class="profile" id="profileImage" style="width: 30px; height: auto; margin-bottom: 10px">
                    <span class="card-title name" style="font-size: 30px; margin-left: 10px">[[${#authentication.principal.nickName}]]</span>
                    <div class="dropdown" style="float: right; margin-top: 10px" th:with="user=${#authentication.principal}">
                        <a id="modifyDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg width="5" height="20" viewBox="0 0 10 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="5" cy="5" r="5" fill="black"/>
                                <circle cx="5" cy="22" r="5" fill="black"/>
                                <circle cx="5" cy="40" r="5" fill="black"/>
                            </svg>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" id="mypage" aria-labelledby="navbarDropdown" th:with="link=${pageRequestDTO != null ? pageRequestDTO.getLink() : ''}">
                            <a class="dropdown-item" th:href="|@{/post/modify(pid=${dto.pid})}&${link}|">수정하기</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/post/remove">삭제하기</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <input type="hidden" class="form-control" th:value="${dto.pid}" readonly>
                    </div>
                    <div class="input-group mb-3" style="display: block; text-align: center">
                        <div th:if="${dto.thumbnail != null}">
                            <div class="body-content">[[${dto.content}]]</div>
                            <img th:src="@{/images/{thumbnail}(thumbnail=${dto.thumbnail})}"  class="img-fluid">
                        </div>
                        <div th:unless="${dto.thumbnail != null}">
                            <div class="body-content">[[${dto.content}]]</div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span> [[${#temporals.format(dto.regDate, 'yyyy-MM-dd')}]] 작성</span>
                        <span> - &nbsp; [[${#temporals.format(dto.modDate, 'yyyy-MM-dd')}]] 수정 </span>
                        <div class="p-2 ms-auto">
                            <img th:src="@{/assets/Favorite.png}" style="width: 40px; height: 40px">
                            <span>[[${dto.likeCount}]]</span>
                        </div>
                    </div>
                </div> <!--end card-body -->
            </div><!--end card -->
            <br>
            <hr style="width: 50%; margin: 0 auto">
        </div> <!--end col -->
    </div> <!--end row -->

    <!--    댓글 처리 영역 만들기-->
    <div class="row ">
        <div class="col-md-12">
            <div class="my-4">
                <div class="input-group-comment mb-3">
                    <button type="button" class="btn addCommentBtn">등록하기</button>
                    <input type="text" class="form-control commentContent" placeholder="댓글을 입력하세요">
                </div>
            </div>
            <ul class="list-group commentList">

            </ul>
        </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/comment.js"></script>
    <script src="/js/ajax.js.js"></script>

</div> <!--end layout:fragment -->

<script layout:fragment="script" th:inline="javascript">

    const pid = [[${dto.pid}]];
    const commentList = document.querySelector('.commentList');
    const buttonInsert = document.querySelector('.remove-button');

    const commentBox = document.querySelector('.comments');

    const cri = CommentCriteria;
    showList(cri);

    if(window.innerHeight >= document.body.offsetHeight){
        cri.page++;
        showList(cri);
    }

    /* Scroll Down -> Board List Request */
    window.addEventListener('scroll', () => {
        let val = window.innerHeight + window.scrollY;

        if(val >= document.body.offsetHeight){
            cri.page++;
            showList(cri);
        }
    });

    function showList(cri){

        const result = commentModule.getMyComments(cri);

        result.forEach((comment, idx) => {
            console.log(comment);

            let html = '';
            html = `<li class="d-flex justify-content-between commentItem" style="cursor: pointer; height: 50px">
                        <div class="commentContent" style="margin-bottom: 0">
                            <span class="name" >[[${#authentication.principal.nickName}]]</span>
                            <span class="col-6" data-id="${dto.id}">${dto.content}</span>
                        </div>
                        <div class="remove-button" style="display:none">
                            <button type="button" class="btn btn-danger removeBtn" data-id="${dto.id}">Remove</button>
                        </div>
                    </li>
                    <hr>`

            commentBox.insertAdjacentHTML('beforeend', html);
        });
    }

    const commentItems = document.querySelectorAll('.commentItem');
    commentItems.forEach(item => {
        let num = 0;
        item.querySelector('.commentContent').addEventListener('click', () => {
            num = num + 1;
            const removeButton = item.querySelector('.remove-button');
            removeButton.style.display = num % 2 !== 0 ? 'inline' : 'none';
        });
    });
    }

    function handleScroll() {
        const { scrollTop, scrollHeight, clientHeight } = document.documentElement;
        if (scrollTop + clientHeight >= scrollHeight - 5) {
            printComments(page);
        }
    }

    window.addEventListener('scroll', handleScroll);

    printComments();

    document.querySelector(".addCommentBtn").addEventListener("click", function () {
        const commentObj = {
            pid: pid,
            content: document.querySelector(".commentContent").value
        };
        addComment(commentObj).then(response => {
            alert(response.id);
            document.querySelector(".commentContent").value = '';
            printComments();
        }).catch(error => {
            console.error(error);
        });
    }, false);

    commentList.addEventListener('click', (e) => {
        if (e.target.classList.contains('removeBtn')) {
            e.preventDefault();
            e.stopPropagation();

            const id = e.target.dataset.id;
            removeComment(id).then(() => {
                printComments();
            }).catch(error => {
                console.error(error);
            });
        }
    });


</script>

</body>
</html>