<!DOCTYPE html>

<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- thymeleaf 형식으로 경로 수정 => th:href = "@{경로}" -->
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>🌰 Do-Tori</title>
    <style>
        body {
            background-color: #F5F0EA;
        }
        .profile {
            width: 30px;
            border-radius: 50%;
        }
    </style>

</head>
<body>


<div th:insert="~{layout/navbar.html}"></div>


<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <form action="/post/register" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-header" style="display: inline">
                        <input type="hidden" name = "aid" th:value="${#authentication.principal.aid}" readonly />
                        <!--                        <input type="hidden" name = "nickName" th:value="${#authentication.principal.nickName}" readonly />-->
                        <img th:src="@{${#authentication.principal.profileImage != null ? '/images/' + #authentication.principal.profileImage + '?t=' + #dates.createNow().getTime() : '/assets/Profile.png'}}" class="profile">
                        <span class="card-title name" style="font-size: 30px; margin-left: 10px">[[${#authentication.principal.nickName}]]</span>
                        <hr>
                    </div>
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <textarea class="col-sm-5" rows="20" style="width: 100%; resize: none; border: none" name="content"></textarea>
                        </div>
                    </div><!-- card-body end-->
                </div> <!--end card-->
                <br>
                <div class="insert input-group mb-3" style="margin: 0 auto; width: 50%">
                    <span style="margin-top: 7px; margin-right: 10px">사진 등록하기</span>
                    <input type="file" name="files" class="form-control" multiple>
                </div>
                <div class="insert my-4" style="margin: 0 auto; width: 50%">
                    <div class="float-end">
                        <button type="reset" class="btn listBtn" onclick="window.location='/post/list'" style="background: #ffffff; width: 100px;">취소</button>
                        <button type="submit" class="btn" style="background: #ccbfb2; width: 100px;">등록하기</button>
                    </div>
                </div>
            </form>
        </div><!--end col-->
    </div><!--end row-->
</div><!--content end-->


<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>


<script layout:fragment="script" th:inline="javascript">


    const errors = [[${errors}]]
    console.log(errors);

    let errorMsg = '';
    if(errors){
        for(let i = 0;i<errors.length;i++){
            errorMsg+=`${errors[i].field}은(는) ${errors[i].code}\n`
        }
        alert(errorMsg)
    }

    document.querySelector(".listBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        formObj.reset()
        self.location = `/post/list?${link}`
    },false)

</script>
</body>
</html>