<!DOCTYPE html>
<html>
<head>
    <title>403 Error</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>

<div class="error-container">
    <div class="error-code">
        <span class="error-digit">4</span>
        <img src="/assets/dotori_image.png" alt="Dotori Image" class="error-image">
        <span class="error-digit">3</span>
    </div>

    <p>접근이 거부되었습니다.</p>
    <br>
    <p2>요청하신 페이지 접근이 거부되었습니다.
        <br>
        입력하신 페이지의 주소가 정확한지 다시 한번 확인해주시기 바랍니다.</p2>

    <p th:text="${errorMessage}"></p>

    <a href="/todo/list" class="main-link">메인으로</a>
    &nbsp;&nbsp;&nbsp;
    <a href="#" onclick="goBack(); return false;" class="back-link">이전페이지</a></div>
</body>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</html>