<!DOCTYPE html>
<html>
<head>
    <title>404 Error</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>

<div class="error-container">
    <div class="error-code">
        <span class="error-digit">4</span>
        <img src="/assets/dotori_image.png" alt="Dotori Image" class="error-image">
        <span class="error-digit">4</span>
    </div>

    <p> 죄송합니다. 찾을 수 없는 페이지를 요청하였습니다.</p>
    <br>
    <p2>존재하지 않는 주소를 입력하셨거나, <br>
        요청하신 페이지의 주소가 변경, 삭제되어 찾을 수 없습니다.</p2>


    <p th:text="${errorMessage}"></p>


    <a href="/todo/list" class="main-link">메인으로</a>
    &nbsp;&nbsp;&nbsp;
    <a href="#" onclick="goBack(); return false;" class="back-link">이전페이지</a></div>
</body>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</html>