<!DOCTYPE html>
<html>
<head>
    <title>500 Error</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>

<div class="error-container">
    <div class="error-code">
        <span class="error-digit">5</span>
        <span class="error-digit">0</span>
        <span class="error-digit">0</span>
    </div>

    <p> 죄송합니다. 서버 내부 오류가 발생했습니다.</p>
    <br>
    <p2>시스템 에러가 발생하여 페이지를 표시할 수 없습니다.
        <br>
        불편을 드려 죄송합니다. 잠시 후 다시 시도해주시기 바랍니다.</p2>


    <p th:text="${errorMessage}"></p>


    <a href="/todo/list" class="main-link">메인으로</a>
    &nbsp;&nbsp;&nbsp;
    <a href="#" onclick="goBack(); return false;" class="back-link">이전페이지</a></div>
</body>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</html>