@charset "UTF-8";

a {
    color: #000;
}
a:hover {
    color: #000;
}

.aside {
    width: 20%;
    height: 100vh;
    background-color: #CCBFB2;
    transition: 0.3s;
}

.auth, .auth_modify, .auth_logout, .auth_toriBox, .auth_remove {
    width: 95%;
    margin: 16px auto 0;
    padding: 24px 25px;
    border-radius: 20px;
    background-color: #F4F4F4;
    display: flex;
    align-items: center;
}

.auth, .auth_modify, .auth_logout, .auth_toriBox, .auth_remove {
    position: relative;
}
.aside_menu_film {
    background-color: #F0ECE8;
    opacity: 0.7;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;

    transition: 0.5s;
}
.auth:hover .aside_menu_film {
    opacity: 0;
    z-index: -10;
}
.auth_modify:hover .aside_menu_film {
    opacity: 0;
    z-index: -10;
}
.auth_logout:hover .aside_menu_film {
    opacity: 0;
    z-index: -10;
}
.auth_toriBox:hover .aside_menu_film {
    opacity: 0;
    z-index: -10;
}
.auth_remove:hover .aside_menu_film {
    opacity: 0;
    z-index: -10;
}

.auth {
    justify-content: space-between;
    padding: 22px 25px;
}

.auth_aside_txt {
    margin-left: 16px;

    cursor: pointer;
}

.todo_list_btn {
    text-decoration: none;
    color: #000;

    cursor: pointer;
}

.logout, .info {
    border: none;
}

.removeBtn {
    background-color: transparent;
    color: #000;
    border: none;
}
.removeBtn:hover {
    background-color: transparent;
    color: #000;
    border: none;
}

.toggle-btn{
    width: 40px;
    height: 30px;
    cursor: pointer;

    display: none;
    position: absolute;
    top: 1%;
    left: 0;
    z-index: 1000;
    margin: 10px;
}
.trigger{
    width: 40px;
    height: 20px;
    cursor: pointer;

    /*display: none;*/

    position: relative;
}
.trigger span{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #CCBFB2;

    transition: 0.3s;
}

.trigger span:nth-child(1){
    top: 0;
}
.trigger span:nth-child(2){
    top: 50%;
}
.trigger span:nth-child(3){
    top: 100%;
}

.toggle-btn.active .trigger span:nth-child(1){
    transform: rotate(45deg);
    top: 50%;
}
.toggle-btn.active .trigger span:nth-child(2){
    opacity: 0;
}
.toggle-btn.active .trigger span:nth-child(3){
    transform: rotate(-45deg);
    top: 50%;
}

@media (max-width: 1260px) {
    .auth, .auth_modify, .auth_remove {
        padding: 8px;
        border-radius: 8px;
    }
    .auth .icon_box span {
        display: none;
    }

    .auth_logout {
        padding: 12px;
        border-radius: 8px;
    }

    .auth_toriBox {
        padding: 14px;
        border-radius: 8px;
    }

}
@media (max-width: 768px) {
    .aside {
        visibility: hidden;
        z-index: -1;
        opacity: 0;
    }
    .toggle-btn {
        display: block;
    }

    .main_info {
        width: 100%;
    }
    .main_info_container {
        width: 80%;
        margin: 0;
    }
    .main_info_container.active {
        margin: auto;
    }
    .aside.active {
        z-index: 11;
        opacity: 1;
        visibility: visible;
        position: absolute;
        width: 35%;
    }
    .toggle-btn.active {
        left: 38%;
    }
}