.content_layout {
    display: flex;
    align-items: center;
    height: 100vh;
}

.icon_box {
    display: flex;
    align-items: center;
}

.main_info {
    width: 80%;
}
.main_info_container {
    width: 44%;
    margin: 0 auto;
}

.title {
    display: inline-block;
    padding: 1rem 1.2rem;
    background-color: #f5f0ea;
    border: 1px solid #000;
    border-radius: 20px;
    text-align: center;

    margin-bottom: 3rem;
}

.mb {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}
.mb span {
    display: inline-block;
    width: 20%;
    text-align: center;
    border-bottom: 1px solid #000;
    padding-bottom: 4px;
}
.mb input {
    width: 70%; /* 입력 칸의 좌우 길이 조정 */
    margin: 0 auto; /* 가운데 정렬 */
    border-radius: 10px;
    border: none;
    padding: 0.5rem;
    background-color: #d9d9d9;
}

.btn_box {
    display: flex;
    justify-content: right;
    margin-top: 40px;
}
.btn {
    margin-left: 18px;
    padding: 12px 60px;
    border: none;
}
.closeBtn {
    background-color: #d9d9d9;
    color: #000;
}
.closeBtn:hover {
    background-color: #adadad;
}
.modifyBtn {
    background-color: #ccbfb2;
    color: #000;
}
.modifyBtn:hover {
    background-color: #928980;
}
.checkBtn {
    background-color: #ccbfb2;
    color: #000;
}
.checkBtn:hover {
    background-color: #928980;
}
.removeBtn {
    color: red;
    transition: 0.2s;
}
.removeBtn:hover {
    color: #ff2626;
}