body {
    background-color: #F5F0EA;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.error-container {
    max-width: 800px;
    padding: 40px;
    text-align: center;
}

.error-code {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.error-digit {
    font-size: 200px;
    font-weight: bold;
    margin: 0 20px;
    color: #725852;
}

.error-image {
    width: 300px;
    height: auto;
}

p {
    font-size: 24px;
    color: #000000;
    margin-bottom: 20px;
}

p2 {
    font-size: 18px;
    color: #7E7E7E;
    margin-bottom: 20px;
}

a {
    font-weight: bold;
}

.main-link {
    display: inline-block;
    margin-top: 40px;
    padding: 15px 30px;
    background-color: #CCBFB2;
    color: #000000;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-size: 20px;
}

.main-link:hover {
    background-color: #ffffff;
}

.back-link {
    display: inline-block;
    margin-top: 40px;
    padding: 15px 30px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-size: 20px;
}

.back-link:hover {
    background-color: #CCBFB2;
}